* {

}

head{
width :100%;
}



nav {
text-align:center;
font-size: large;
background-color:#180C01;
opacity: 0.5;
height: 75px;
width:100%;
margin-top: 0%;
}

body {
    text-align: center;
    color: azure;
    background-position-x: center;
    /* background-size:cover; */

}

h1 {
    color :black;
}

a {
    color:whitesmoke;
    padding-left: 20%;
}

a:hover{
    color :#C15F06;
}

p {
    color: black;
}

.second {
    background-color:#180C01;
    opacity:0.8;
    
}

footer {
    background-color:#180C01; 
    height: 40px;
    padding-top:10px;
    opacity:0.7;
    font-size: 1em;
}